.addForm{
background-color: #ff865ec4;
padding: 5px;
min-height: 200px;
min-width: 350px;
}
.add-btn{
background-color: #e6d14e;
    
}
input[type=number] {
    -moz-appearance: textfield;
  }
@media (min-width:600px) and (max-width:980px){
    .space{
        margin-left: 2.5rem;
        width: 100%;
        height: 500px;
    }
}